.connexion {
  width: 100%;
  min-height: calc(100vh - 22rem);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .connexion {
    flex-direction: column;
    align-items: center;
  }
}
