.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__logo {
    @include loader-logo;
  }
  &__text {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    font-size: 3rem;
    color: $color-black;
    @include bold;
    &__letter {
      animation-name: bounce;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
}
